{% load help_tags %}

<h3>{{ test }}</h3>
<p>This is a template: "foo/test.html"</p>
<p>Look at the foo/urls.py to compare usages with views, modules and url names</p> 
<hr />

{ % get_help_link % }
<p>below should be the help url</p>

{% get_help_link %}

<hr />

{% get_help_link as var_help_link %}
{ % get_help_link as var_help_link % }
<p>below should be the help link with a variable</p>
{% if var_help_link %}
	<a href="{{ var_help_link }}">Get help!</a>
{% endif %}
<hr />

{% get_help_link "test_view" as var_help_link2 %}
{ % get_help_link "test_view" as var_help_link2 % }
<p>below should be the help link 2</p>
{% if var_help_link2 %}
	<a href="{{ var_help_link2 }}">Get help!</a>
{% endif %}
<hr />

{% get_help_link "test_view" "foo.views" as var_help_link3 %}
{ % get_help_link "test_view" "foo.views" as var_help_link3 % }
<p>below should be the help link 3</p>
{% if var_help_link3 %}
	<a href="{{ var_help_link3 }}">Get help!</a>
{% endif %}
<hr />

{% get_help_link "test_view" "foo.views" "this_is_the_name" as var_help_link4 %}
{ % get_help_link "test_view" "foo.views" "this_is_the_name" as var_help_link4 % }
<p>below should be the help link 4</p>
{% if var_help_link4 %}
	<a href="{{ var_help_link4 }}">Get help!</a>
{% endif %}
<hr />

{% with "test_view" as tv %}
	{% get_help_link tv "foo.views" as var_help_link5 %}
        { % with "test_view" as tv % }
	    { % get_help_link tv "foo.views" as var_help_link5 % }
	<p>below should be the help link 5</p>
	{% if var_help_link5 %}
		<a href="{{ var_help_link5 }}">Get help!</a>
	{% endif %}
	<hr />
{% endwith %}
